* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.main-container {
    border: 1px solid rgb(208, 203, 203);
}

.grocery-container {
    visibility: hidden;
}
.show-container {
    visibility: visible;
}

article:hover {
    cursor: pointer;
}

p {
    text-transform: capitalize;
}

.btn-cnt {
    border: 1px solid rgb(208, 203, 203);
}

.btn-cnt:hover {
    background-color: rgb(42, 82, 227);
}

.clear-btn {
    text-align: center;
    color: red;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid red;
}
